/* Los tipos de letra no estándar hay que importarlos */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: Open Sans;
    margin: 0px;
    background: #394857;
}

h1 {
    font-family: Montserrat;
    font-size: 35px;
    color: rgb(34, 123, 182);
    font-weight: 400;
    letter-spacing: -3px;
    text-align: left;
    text-decoration: underline;
}

h2 {
    font-family: Montserrat;
    font-size: 32px;
    color: #6e8fad;
    font-weight: 600;
    letter-spacing: -3px;
}

.cabecera {
    background-color: #627c97;
}
.cabecera entrada{
    color: aqua;

}

.cuerpo {
    max-width: 1100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contenido {
    float: right;
    width: 65%;
}

div.contenido img {
    width: 100%;
}

.barra-lateral {
    padding-top: 40px;
    float: left;
    width: 30%;
}

.barra-lateral h3 {
    color: aliceblue;
    text-align: left;
}

.barra-lateral p {
    color: rgb(162, 172, 180);
    margin-bottom: 15px;
}

.barra-lateral a,li {
    list-style:none;
    color: rgb(99, 141, 175);

}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}

footer {
    clear: both;
    color: white;
    bottom: 0;
    background-color: #2C3E50;
    min-height: 5px;
    padding: 1px;
    text-align: center;
}

@media (max-width: 640px) {
    .barra-lateral {
        display: none;
    }

    .cuerpo {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .contenido {
        float: none;
        width: 100%;
    }

    h1, h2, h3 {
        text-align: center;
    }
}
